* { box-sizing: border-box; }

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #222;
    font-size: 13pt;
}

body > header, body > main, body > footer {
    max-width: 60rem;
    margin: 0 auto;
}

body > header > h1 > a {
    background: #222;
    color: #fff;
    text-decoration: none;
    padding: 0.2rem 0.6rem 0.4rem 0.6rem;
}


body > main {
    margin: 4rem auto;
    min-height: 75vh;
}

body > footer {
    border-top: 2px solid #ddd;
    padding: 1rem 0;
    font-size: 0.8rem;
    color: #555;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

a.article-link {
    text-decoration: inherit;
    color: inherit;
    display: block;
    border-left: 0.5rem solid #222;
    transition: border-left-width 0.2s ease-in-out, margin-left 0.2s ease-in-out, box-shadow 0.1s ease-in-out, color 0.1s ease-in-out;
    padding: 0 0 0.3rem 0.5rem;
    margin: 2rem 0 2rem -1rem;
    box-shadow: 0 0 0 0 black inset;
}

a.article-link:hover {
    border-left-width: 0;
    box-shadow: 50rem 0 0 0 black inset;
    margin-left: -0.5rem;
    color: #fff;
}

a.article-link > article > header > h1 {
    transition: color 0.1s ease-in-out;
}

a.article-link:hover > article > header > h1 {
    color: #fff;
}

article > header > h1 {
    color: #1a8dc2;
    font-size: 2rem;
    margin: 0.4rem 0;
}

article > header {
    margin-bottom: 2rem;
}

a.article-link > article > header {
    margin-bottom: 0;
}

article > header > time {
    font-style: italic;
    font-size: 0.8rem;
}